.backdrop {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.alert-box {
    position: fixed;
    top: 40vh;
    left: 20vw;
    width: 60vw;
    padding: 16px;
    z-index: 100;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30)

}

p{
    font-weight: bold;
}

.btn-primary {
    background-color: salmon;
}

.alert-box-action {
    text-align: right;
}