/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("assets\images\329968.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
}